#about {
    max-width: 500px;
    padding: 100px 1rem 20px;
    margin: 0;
    overflow-x: hidden;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--lightest-slate);
    width: 100%;
  }

  
  .about-content {
    display: flex;
    flex-direction: column;
    background-color: var(--lightest-slate);
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;
    max-width: 500px;
    width: 100%;
  }

  .about-title {
      font-family: "Inter", sans-serif;
      color: black;
      font-size: 50px;
      font-weight: bold;
      padding: 20px;
  }
  
  .about-description {
    font-family: "Inter", sans-serif;
    color: black;
    max-width: 600px;
    padding: 20px;
    font-size: 18px;
    text-align: left;
    margin: 0;
  }
  
  .about-description a,
  .about-description b {
    font-size: 21px;
    font-weight: bold;
  }
  
  
  @media only screen and (max-width: 600px) {
    #about {
      background-color: var(--lightest-slate);
      height: unset;
      padding: 20px 1rem 40px;
      
    }

    .about-title {
      font-size: 50px;
      color: black;
      font-weight: 600;
    }
  
    .about-description {
      font-size: 18px;
      text-align: justify;
    }
  
    .about-description a,
    .about-description b {
      font-size: 17px;
    }
  
    .about-image img {
      max-width: 100%;
    }
  
    .about-content {
      background-color: var(--lightest-slate);
      flex-direction: column;
    }
  }