 #intro{
  background-color: var(--lightest-slate);
  overflow-x: hidden;
  padding: 100px 1.5rem;
  padding-bottom: 20px;
  flex: 1;
  display: flex; 
  align-items: center;
  min-height: 100vh;
  height: auto;
  width: 100%;
 }

.intro-container {
    margin: 0;
    max-width: 750px;
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    padding: 0 auto;

}

.intro-header {
  position: relative; /* Makes this the positioning context for absolute children */
  width: 100%;
  text-align: center;
}


.intro-name {
  font-size: 45px;
  font-weight: bold;
  color: white;
  margin-bottom: 1rem;
  line-height: 1.1;   
}

.intro-title {
  font-size: 1.2rem;
  font-weight: semibold;
  margin-bottom: 1rem;
  letter-spacing: 5px;
  color: white;
}

.intro-desc {
    font-size: 20px;
    color: white;
    line-height: 1.1;
    font-weight: normal;
    width: 40%;
}
.intro-text-overlay {
  position: absolute;
  top: 40%; /* Center vertically */
  left: 7%; /* Center horizontally */
  transform: translateY(-30%); /* Precise centering */
  text-align: left;
  color: white; /* Or your preferred text color */
  width: 100%;
  z-index: 2; /* Ensures text appears above image */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  z-index: 5; /* Higher than images and default slick items */
  border-radius: 20px;
  pointer-events: none;
}

.slick-track {
  display: flex !important;
  align-items: center;
  min-height: 300px;
}

.slick-slide {
 padding: 0 10px; 
}

.slick-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.slick-arrow,
.slick-dots {
  display: none !important;
}

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 0 auto; 
  display: flex;
  height: 700px;
  justify-content: center;
  align-items: center;
  padding: 10px 0 60px;

}
.carousel-slide {
  position: relative; 
  width: 100%;
  height: 100%;
}

.carousel-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  z-index: 1;
  transition: opacity 0.8s ease-in-out;
}

.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  z-index: 2;
  pointer-events: none;
}


.intro-subtitle {
    font-family: "Inter", sans-serif;
    color: black;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    margin-top: -10px;    
}


b {
    font-size: 17px;
}

@media only screen and (max-width: 600px) {
    #intro {
      background-color: var(--lightest-slate);
      min-height: unset;
      padding-left: unset;  
      padding-top: unset; 
      margin: 0; 
      align-items: center;
    
    }

    .intro-text-overlay{

    }

    .intro-container {
      display: flex;
      max-width: 100%;
      width: 100%;
      padding: 0 16px;
    }
  
    .intro-title {
      font-size: 46px;
      font-weight: 800;
    }
    .intro-name {
      font-size: 46px;
    }
    .intro-subtitle {
      margin: 0;
      font-size: 28px;
    }
  
    .intro-desc {
      font-size: 18px;
      max-width: unset;
      padding-bottom: 40px;
    }
  
    .intro-contact {
      font-size: 16px;
    }
  
    .overlay {
    height: calc(100% - 10px);
    top: 5px;
    left: 5px;
    }

    .carousel-container {
    height: auto;
    padding-bottom: 30px;
    }
}

